.time {
  display: flex;
  align-items: center;
  gap: 15px;
}

.time span {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  color: #ccc3c3;
}

.time .range {
  position: relative;

  border-radius: 4px;

  width: 500px;
  height: 4px;

  background: #ccc3c3;

  cursor: pointer;
}

.time .range .progress {
  position: absolute;
  left: 0;
  top: 0;

  border-radius: 4px;

  height: 100%;

  background: #e5007b;
}
.time .range .progress .pointer {
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: -3px;

  height: 10px;
  width: 10px;

  background: #e5007b;
}
